In [1]:
import pandas as pd
import numpy as np 
import math as mt
import s3fs
import zipfile
import os

class s3_connection():
    def __init__(self):
        """
        établir la connexion et après utiliser les fonction de read et write 
        """
        try:
         s3 = s3fs.S3FileSystem(client_kwargs={"endpoint_url": "https://minio.lab.sspcloud.fr"})
         
         print("connection successful")
         
        except:
         s3="connection not established, debug "
         print(s3)
        self.s3=s3
    def listt(self, directory):
        return((self.s3.ls(directory)))

    def unzip(self,from_s,to_s):
      with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
            zip_ref.extractall(extract_to_path)

    
    def from_pandas_to_parquet_store_in_s3(self,df, directory):
      try:
        with self.s3.open(directory, "wb") as file_out:
         df.to_parquet(file_out)
      except: 
        print("Cher lecteur, cette fonction écrit dans le dossier spécifié, mais vous n'avez pas les droits :( ")
      
    
    def get_tables_from_s3(self,directory):
        
        with self.s3.open(directory, "rb") as file_in:
          df = pd.read_parquet(file_in)
        return df

In [2]:
  
    
s3=s3_connection()
directory="aayrapetyan/diffusion/"
tables=s3.listt(directory)

dataframes = {}
words_to_remove = ["aayrapetyan", "diffusion", ".us", "--", "usd-spot","parquet"]
import re
# Loop through all files in the folder
for file_name in tables:
    if file_name.endswith('.parquet') and "final_table" not in file_name:  # Check if the file is a Parquet file
        
        try:
            # Read the Parquet file into a DataFrame
            df = s3.get_tables_from_s3(file_name)
            # Store the DataFrame using the file name (without extension) as the key
            pattern = "|".join(re.escape(word) for word in words_to_remove)
            cleaned_string = re.sub(pattern, "", file_name)
            cleaned_string = re.sub(r"[/\.]+", "/", cleaned_string).strip("/")[0:-1]
            dataframes[cleaned_string] = df
            print(f"Loaded {file_name} successfully!")
        except Exception as e:
            print(f"Error loading {file_name}: {e}")

for key in dataframes.keys():
    print(key)

dataframes["ftx-dai"]

connection successful
Loaded aayrapetyan/diffusion/binance.us-dai-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/binance.us-usdc-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/binance.us-usdt-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/coinbase-dai-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/coinbase-usdt-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/coinbase-wluna-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/ftx-cusdt-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/ftx-dai-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/ftx-luna-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/kraken-dai-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/kraken-luna-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/kraken-usdc-usd-spot.parquet successfully!
Loaded aayrapetyan/diffusion/kraken-usdt-usd-spot.parquet successfully!
binance-dai
binance-usdc
binance-usdt
coinbase-dai
coinbase-usdt
coinbase-wluna
ftx-cusdt
ftx-dai
ftx-luna
kraken-dai
kraken-luna
kraken-usdc
kraken-usdt

,market,time,coin_metrics_id,amount,price,database_time,side
0,ftx-dai-usd-spot,2022-01-01 00:19:59.720191+00:00,2953428441,3028.9,1.0,2022-01-01 00:20:00.075013+00:00,buy
1,ftx-dai-usd-spot,2022-01-01 00:19:59.720191+00:00,2953428442,2000.0,1.0,2022-01-01 00:20:00.075013+00:00,buy
2,ftx-dai-usd-spot,2022-01-01 00:19:59.720191+00:00,2953428443,1.0,1.0,2022-01-01 00:20:00.075013+00:00,buy
3,ftx-dai-usd-spot,2022-01-01 00:19:59.720191+00:00,2953428444,5.0,1.0,2022-01-01 00:20:00.075013+00:00,buy
4,ftx-dai-usd-spot,2022-01-01 00:19:59.720191+00:00,2953428445,2150.2,1.0,2022-01-01 00:20:00.075013+00:00,buy
...,...,...,...,...,...,...,...
126811,ftx-dai-usd-spot,2022-11-12 03:22:06.088667+00:00,5412623105,29.1,1.013,2022-11-12 03:22:06.375870+00:00,sell
126812,ftx-dai-usd-spot,2022-11-12 03:22:06.224272+00:00,5412623109,49.4,1.013,2022-11-12 03:22:06.375870+00:00,sell
126813,ftx-dai-usd-spot,2022-11-12 03:22:06.258189+00:00,5412623113,29.5,1.013,2022-11-12 03:22:06.375870+00:00,sell
126814,ftx-dai-usd-spot,2022-11-12 03:22:06.354345+00:00,5412623119,42.2,1.013,2022-11-12 03:22:06.625909+00:00,sell
126815,ftx-dai-usd-spot,2022-11-12 03:27:15.473295+00:00,5412700773,2.0,1.0149,2022-11-12 03:27:15.645846+00:00,buy

In [3]:
for key in dataframes.keys():
    print(key)

binance-dai
binance-usdc
binance-usdt
coinbase-dai
coinbase-usdt
coinbase-wluna
ftx-cusdt
ftx-dai
ftx-luna
kraken-dai
kraken-luna
kraken-usdc
kraken-usdt

In [5]:
dataframes["ftx-luna"].head(1)

,market,time,coin_metrics_id,amount,price,database_time,side
0,ftx-luna-usd-spot,2022-03-01 14:00:54.781809+00:00,3443610730,98.3,91.72,2022-03-01 14:15:22.169533+00:00,buy

In [15]:
dataframes["binance-dai"].head(1)

,market,time,coin_metrics_id,amount,price,database_time,side
0,binance.us-dai-usd-spot,2022-01-01 00:20:22.742000+00:00,102202,63.28,0.9995,2022-01-01 00:20:22.865667+00:00,sell

In [24]:
multi = [value for key, value in dataframes.items() if "binance" in key]

binance = pd.concat(multi, ignore_index=True)

In [25]:
binance["market"].unique()

<StringArray>
[ 'binance.us-dai-usd-spot', 'binance.us-usdc-usd-spot',
 'binance.us-usdt-usd-spot']
Length: 3, dtype: string

In [26]:
binance.head(1)

,market,time,coin_metrics_id,amount,price,database_time,side
0,binance.us-dai-usd-spot,2022-01-01 00:20:22.742000+00:00,102202,63.28,0.9995,2022-01-01 00:20:22.865667+00:00,sell

In [27]:
binance.dtypes

market                  string[python]
time               datetime64[ns, UTC]
coin_metrics_id                  Int64
amount                         Float64
price                          Float64
database_time      datetime64[ns, UTC]
side                    string[python]
dtype: object

In [28]:
import pandas as pd
import matplotlib.pyplot as plt